Pillow
encodec
fairseq
funcy
gputil
huggingface-hub>=0.14.1
librosa>=0.10.2
matplotlib
nltk
noisereduce>=3.0.2
numpy
opencv-python
psola
psutil
pytorch_seed
rembg
scipy
sox
spandrel
spandrel_extra_arches
tk
torch
torchaudio
torchvision
tqdm
transformers
webrtcvad
